<!doctype html>
<html ng-app="warningTrackApp">
  <head>
    <title>Warning Track</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="warning-track.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='warning-track.css' rel='stylesheet' type='text/css'>
  </head>
  <body ng-controller="WarningTrackCtrl">
    <div class="row title">
      <div class="col-md-1 logo">
        <img src="wt.png" width="64"/>
      </div>
      <div class="col-md-5 company-name">Warning Track</div>
    </div>
    <div class="container">
      <div ng-repeat="game in games | orderBy : orderProp"  class="row col-md-6 player-container">
        <div class="row col-md-10">
          <div class="leverage-index" ng-if="game.status.status == 'In Progress'">
            <div>
              <svg viewBox="0 0 24 102" width="24">
                <use xlink:href="{{game.leverage_index| leverageToSvg}}" xlink:href=""/>
              </svg>
            </div>
          </div>
          <div class="score game-box">
            <div class="score-container">
              <div class="team-logo" ng-style="{{game.away_team.id | logoPosition}}">&nbsp;</div>
              <div class="team-score">{{game.linescore.r.away}}</div>
              <div class="team-logo" ng-style="{{game.home_team.id | logoPosition}}">&nbsp;</div>
              <div class="team-score">{{game.linescore.r.home}}</div>
            </div>
            <div class="bso-container" ng-if="game.status.status == 'In Progress'">
              <div class="balls-strikes-outs">
                <div class="icon-status">B:</div>
                <div class="svg-balls-strikes-outs">
                  <svg class="balls" viewBox="0 0 90 25" width="45">
                    <use xlink:href="{{game.status.b | svgIconBallsHref}}" xlink:href=""/>
                  </svg>
                </div>
              </div>
              <div class="balls-strikes-outs">
                <div class="icon-status">S:</div>
                <div class="svg-balls-strikes-outs">
                  <svg class="strikes-outs" viewBox="0 0 68 25" width="34">
                    <use xlink:href="{{game.status.s | svgIconStrikesOutsHref}}" xlink:href=""/>
                  </svg>
                </div>
              </div>
              <div class="balls-strikes-outs">
                <div class="icon-status">O:</div>
                <div class="svg-balls-strikes-outs">
                  <svg class="strikes-outs" viewBox="0 0 68 25" width="34">
                    <use xlink:href="{{game.status.o | svgIconStrikesOutsHref}}" xlink:href=""/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="game-status" ng-if="game.status.status != 'In Progress'">{{game | displayGameStatus}}</div>
          </div>
          <div class="game-box br" ng-if="game.status.status == 'In Progress'">
            <div class="base-runners">
              <svg viewBox="0 0 34 26" width="68">
                <use xlink:href="{{game.runners_on_base.status | svgIconBaseHref}}" xlink:href=""/>
              </svg>
            </div>
            <div class="game-status">{{game | displayGameStatus}}</div>
          </div>
          <div class="game-note" ng-if="game.status.status == 'In Progress'">{{game.pbp.last}}</div>
        </div>
      </div>
    </div>
	</body>
</html>
