<!doctype html>
<html ng-app="warningTrackApp">

<head>
  <title>Warning Track</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="warning-track.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='warning-track.css' rel='stylesheet' type='text/css'>
  <!--IE external svg-->
  <script src="svg4everybody.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
</head>

<body ng-controller="WarningTrackCtrl" class="body-dark">
  <div class="title dark">
    <div class="title-container">
      <a href="/">
        <div class="logo">
          <img src="wt.png" width="64" />
        </div>
      </a>
      <div class="mini-games-container">
        <div class="no-wrap">
          <div ng-repeat="game in games | gameDate | orderBy: orderProp" class="mini-game">
            <a href="{{game.links.mlb_tv}}" target="mlbtv_iframe">
            <div class="mini-game-container" ng-class="{'animated tada' : game.status.leverage_index > 3, 'not-in-progress': game.status.state < 22}">
              <div class="mini-leverage-index" ng-if="game.status.state > 21" title="leverage index: {{game.status.leverage_index}}">
                <div>
                  <svg viewBox="0 0 24 102" width="12" height="51">
                    <use xlink:href="{{game.status.leverage_index| leverageToSvg}}" xlink:href="" />
                  </svg>
                </div>
              </div>
              <div class="mini-score-container">
                <div class="mini-logo-score-container">
                  <div class="mini-team-logo" ng-style="{{game.teams.away | minilogoPosition}}">&nbsp;</div>
                  <div class="mini-team-score">{{game.status.score.away}}</div>
                </div>
                <div class="mini-logo-score-container">
                  <div class="mini-team-logo" ng-style="{{game.teams.home | minilogoPosition}}">&nbsp;</div>
                  <div class="mini-team-score">{{game.status.score.home}}</div>
                </div>
              </div>
              <div class="mini-status">
                {{game | miniGameStatus}}
              </div>
            </div>
          </a>
          </div>
        </div>
      </div>
      <div class="title-button">
        <a href="/">
          <div class="tv-mode">HOME</div>
        </a>
      </div>
    </div>
    <div class="watch-tv">
      <div class="watch-tv-iframe">
        <iframe name="mlbtv_iframe" src="{{games | maxLiGameLink}}" width="960" height="660" frameBorder="0">Browser not compatible.</iframe>
      </div>
    </div>
    <div class="footer-dark">
      <div class="footer-twitter dark">
        <a href="https://twitter.com/warningtrackco">@warningtrackco</a>
      </div>
      <div class="footer-email dark">warningtrackco@gmail.com</div>
    </div>
</body>

</html>
