body {
  font-family: 'Lato', Arial, serif;
  font-size: 16px;
}

.balls-strikes-outs {
  display: inline;
  float: left;
  margin: 4px 6px;
}

.base-runners {
  clear: both;
  float: left;
}

.bso-container {
  clear: both;
  margin: 2px auto;
  width: 80%;
}

.game-box {
  background: antiquewhite;
  border: 1px solid brown;
  border-radius: 20px;
  display: inline;
  float: left;
  font-size: 64px;
  height: 100px;
  line-height: 54px;
  margin: 4px 2px;
  padding: 10px;
}

.game-box .icon-status {
  display: inline;
  float: left;
  font-size: 12px;
  line-height: 16px;
  width: 16px;
}

.game-box.br {
  background: #99DBAF;
  border: 2px solid seagreen;
  border-radius: 20px
}

.game-note {
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
  clear: both;
  display: block;
  float: left;
  font-size: 16px;
  height: 28px;
  line-height: 26px;
  margin: 10px 0px;
  overflow: hidden;
  padding-left: 10px;
  width: 100%;
}

.game-status {
  clear: both;
  display: block;
  float: left;
  font-size: 16px;
  margin-top: -16px;
  text-align: center;
  width: 100%;
}

.leverage-index {
  float: left;
  padding-right: 4px;
}

.score-container {
  display: block;
  float: left;
}

.svg-balls-strikes-outs {
  display: inline;
  float: left;
  font-size: 12px;
  line-height: 20px;
}

.team-logo, .team-score {
  float: left;
  margin: 0px 4px;
  padding: 2px 10px 0px 10px;
}

.team-logo {
  background-image: url('team-logos.png');
  height: 64px;
  width: 64px;
}

.title {
  background: linear-gradient(floralwhite, white);
  color: firebrick;
  font-size: 72px;
  font-weight: 700;
}
